* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f6ff;
    line-height: 1.6;
}

header {
    background: #0a192f;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #112240;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #64ffda;
}

.container {
    display: flex;
    padding: 20px;
}

aside {
    width: 25%;
    padding: 15px;
    background: #e6ecff;
}

main {
    width: 75%;
    padding: 20px;
}

/* Headings */
h1, h2 {
    color: #0a192f;
}

.box {
    border: 2px solid #0a192f;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.float-left {
    float: left;
    margin: 10px;
    width: 180px;
    border-radius: 10px;
}

.float-right {
    float: right;
    margin: 10px;
    width: 180px;
    border-radius: 10px;
}

/* Footer */
footer {
    background: #0a192f;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

#highlight {
    color: red;
    font-weight: bold;
}
